@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    margin-top: 80px;
    padding: 0;
    height: 100%;
    background-color: #f7f5f1;
}

.detail {
    padding: 20px 64px;
    line-height: 50px;
}

.note {
    color: #F0686C;
}

hr {
    border: 1px rgb(218, 218, 218) solid;
}

/* 信用卡小圖 */
.paymentImg {
    height: 30px;
    padding: 5px;
}

/* 白底付款區塊 */
.paymentContent {
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
}

.paymentTitle {
    padding: 20px 0px;
}

.orderTitle p {
    font-size: 20px;
    font-weight: bold;
}

.totlePrice {
    font-size: large;
}